* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Karla", sans-serif;
}

/* root container from index.html */
#root {
	margin: 0 auto;
	max-width: 64rem;
	height: 100vh;
	background: rgba(11, 36, 52, 1);
	padding: 3rem 2rem;
}

.game-board {
	max-width: 42rem;
	height: 100%;
	background: rgba(245, 245, 245, 1);
	margin: 0 auto;
	border-radius: 1rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: center;
	justify-content: center;
}

.game-info {
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1em;
	max-width: 23rem;
	text-align: center;
}

.game-title {
	margin-top: 3rem;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 2em;
}

.tenzies {
	/* background: greenyellow; */
	width: 100%;
	margin-top: 2rem;
	padding: 2rem;
	display: grid;
	grid-template: auto auto / repeat(5, 1fr);
	grid-gap: 1.8rem;
	place-items: center;
}

.die {
	height: 3.5rem;
	width: 3.5rem;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	border-radius: 3.81277px;
	display: grid;
	place-items: center;
	font-weight: 700;
	font-size: 2rem;
	cursor: pointer;
}

.isHeld {
	background: rgba(89, 227, 145, 1);
}

.btn-roll {
	background: rgba(80, 53, 255, 1);
	border: none;
	max-width: 12rem;
	width: 100%;
	padding: 1rem 2rem;
	text-align: center;
	border-radius: 3.8px;
	color: #fff;
	cursor: pointer;
	margin-top: 2.5rem;
	box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}
